@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap");
#header-burger {
  width: 30px;
  height: 22.5px;
  position: absolute;
  z-index: 1;
  top: calc(50% - 22.5px * 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header-burger::before {
  content: "";
  width: 100%;
  height: 3px;
  position: relative;
  top: 0;
  border-radius: 6.75px;
  background-color: white;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#header-burger > span {
  width: 100%;
  height: 3px;
  position: relative;
  border-radius: 6.75px;
  background-color: white;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#header-burger::after {
  content: "";
  width: 100%;
  height: 3px;
  position: relative;
  top: 0;
  border-radius: 6.75px;
  background-color: white;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#header-burger.active::before {
  top: 42%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#header-burger.active > span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

#header-burger.active::after {
  top: -42%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

body {
  font-family: "Open Sans", sans-serif;
}

body.active {
  overflow: hidden;
}

@media (max-width: 600px) {
  body {
    background-color: #1d1d1d;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  body {
    background-color: #524747;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  body {
    background-color: #838383;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  body {
    background-color: #e0e0e0;
  }
}

.container {
  width: 100%;
  max-width: 1250px;
  margin: 0px auto;
}

@media (min-width: 768px) and (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}

.button {
  width: 223px;
  height: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 34.06px;
  letter-spacing: 0.32px;
  text-decoration: none;
  border: #ff2d2d solid 2px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #ff2d2d;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.button:hover {
  border: #d42525 solid 2px;
  background-color: #d42525;
}

.button:active {
  border: #6e1515 solid 2px;
  background-color: #6e1515;
}

.button-white {
  color: #ff2d2d;
  background-color: rgba(0, 0, 0, 0);
}

.button-white:hover {
  color: #fff;
  background-color: #d42525;
}

.button-white:active {
  color: #fff;
  border: #6e1515 solid 2px;
  background-color: #6e1515;
}

.title {
  opacity: 0.8;
  color: #000000;
  font-size: 42px;
  font-weight: 700;
  line-height: 55px;
  text-transform: uppercase;
  letter-spacing: 0.42px;
}

.wrapper {
  padding-top: 30px;
}

@media (max-width: 600px) {
  .wrapper {
    padding-top: 0px;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .wrapper {
    padding-top: 0px;
  }
}

.input {
  padding: 0px;
  padding-left: 36px;
  padding-right: 30px;
  border: 0px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 700;
  line-height: 34.06px;
  text-align: left;
  color: #585858;
}

.input-button {
  padding-left: 0px;
  padding-right: 0px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background-color: #ff2d2d;
}

.input-button:hover {
  background-color: #d42525;
}

.input-button:active {
  background-color: #6e1515;
}

.input:focus {
  outline: 3px solid rgba(138, 50, 0, 0.1);
}

.header {
  height: 80px;
  position: relative;
  z-index: 1;
  background-color: #313030;
}

@media (max-width: 600px) {
  .header {
    height: 50px;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .header {
    height: 60px;
  }
}

.header__container {
  max-width: 460px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  background-color: #313030;
}

@media (max-width: 600px) {
  .header__container {
    max-width: none;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .header__container {
    max-width: none;
  }
}

.header-menu {
  height: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (max-width: 600px) {
  .header-menu {
    height: 100vh;
    position: relative;
    z-index: -1;
    background-color: rgba(49, 48, 48, 0);
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .header-menu {
    height: 100vh;
    position: relative;
    z-index: -1;
    background-color: rgba(49, 48, 48, 0);
  }
}

@media (max-width: 600px) {
  .header-menu.active {
    background-color: rgba(49, 48, 48, 0.7);
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .header-menu.active {
    background-color: rgba(49, 48, 48, 0.7);
  }
}

.header-list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (max-width: 600px) {
  .header-list {
    width: 100%;
    height: auto;
    position: absolute;
    top: -180px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .header-list {
    width: 100%;
    height: auto;
    position: absolute;
    top: -180px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 600px) {
  .header-list.active {
    top: 50px;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .header-list.active {
    top: 60px;
  }
}

.header-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header-list__item.active {
  background-color: #ff3f40;
}

@media (max-width: 600px) {
  .header-list__item {
    height: 50px;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .header-list__item {
    height: 60px;
  }
}

.header-list__link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  list-style: none;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
  color: #e0e0e0;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.header-list__link:hover {
  background-color: #ff6464;
}

.header-list__link:active {
  background-color: #d12d2d;
}

#header-burger {
  margin-left: 20px;
}

.section-present {
  background-color: #f6f2f2;
}

.present {
  padding: 103px 0px 111px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 600px) {
  .present {
    padding: 25px 0px 50px 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .present {
    padding: 30px 0px 60px 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .present {
    padding: 40px 0px 70px 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.present__text-block {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  margin: 0px 10px;
}

@media (max-width: 600px) {
  .present__text-block {
    margin: 0px 10px 30px;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .present__text-block {
    margin: 0px 10px 30px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .present__text-block {
    margin-bottom: 40px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .present__text-block {
    margin-left: 15px;
  }
}

.present__title {
  margin-bottom: 36px;
  font-size: 60px;
  font-weight: 800;
  line-height: 72px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #000000;
}

@media (max-width: 600px) {
  .present__title {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 24px;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .present__title {
    font-size: 42px;
    line-height: 48px;
    margin-bottom: 24px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .present__title {
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 24px;
  }
}

.present__text {
  max-width: 85%;
  margin-bottom: 58px;
  font-size: 16px;
  line-height: 28px;
  opacity: 0.7;
  color: #000000;
}

@media (min-width: 768px) and (max-width: 992px) {
  .present__text {
    margin-bottom: 36px;
  }
}

.present__video-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 0px 20px 3px black;
          box-shadow: 0px 0px 20px 3px black;
  background-color: #000000;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

@media (max-width: 600px) {
  .present__video-block {
    min-height: 256px;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .present__video-block {
    min-height: 384px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .present__video-block {
    min-height: 512px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.present__video-block > iframe {
  width: 100%;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.section-provide {
  background-color: #fff;
}

.section-provide::after {
  content: "";
  width: 1200px;
  height: 2px;
  position: absolute;
  left: calc(50% - 625px);
  background-color: #ececec;
}

@media (max-width: 600px) {
  .section-provide::after {
    width: 200px;
    left: calc(50% - 100px);
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .section-provide::after {
    width: 450px;
    left: calc(50% - 225px);
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .section-provide::after {
    width: 600px;
    left: calc(50% - 300px);
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .section-provide::after {
    width: 900px;
    left: calc(50% - 450px);
  }
}

.provide {
  padding: 108px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 600px) {
  .provide {
    padding: 54px 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .provide {
    padding: 72px 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .provide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.provide-left-column {
  margin-left: 10px;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

@media (max-width: 600px) {
  .provide-left-column {
    margin-bottom: 40px;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .provide-left-column {
    margin-bottom: 40px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .provide-left-column {
    margin-bottom: 40px;
  }
}

.provide__title {
  margin-bottom: 50px;
}

@media (max-width: 600px) {
  .provide__title {
    margin-bottom: 20px;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .provide__title {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .provide__title {
    margin-bottom: 40px;
  }
}

.provide__text {
  margin-bottom: 58px;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #000000;
}

@media (max-width: 600px) {
  .provide__text {
    margin-bottom: 28px;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .provide__text {
    margin-bottom: 38px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .provide__text {
    margin-bottom: 48px;
  }
}

.provide-right-column {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
}

@media (max-width: 600px) {
  .provide-right-column {
    padding: 0px 10px;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .provide-right-column {
    padding: 0px 10px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .provide-right-column {
    padding: 0px 10px;
  }
}

.provide-card {
  margin-bottom: 50px;
}

.provide-card__logo {
  margin-bottom: 30px;
}

.provide-card__title {
  margin-bottom: 17px;
  font-size: 24px;
  opacity: 0.7;
  color: #000000;
}

.provide-card__text {
  font-size: 16px;
  line-height: 28px;
  opacity: 0.7;
  color: #000000;
}

.section-feature {
  background-color: #fff;
}

.feature {
  padding: 106px 0px 138px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.feature__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature__header::after {
  content: "";
  width: 132px;
  height: 3px;
  display: block;
  background-color: #ff2d2d;
}

.feature__title {
  margin-bottom: 26px;
}

@media (max-width: 600px) {
  .feature__title {
    text-align: center;
  }
}

.feature__text {
  max-width: 500px;
  margin-bottom: 29px;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  opacity: 0.7;
}

.feature__body {
  padding-top: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 600px) {
  .feature__body {
    padding-top: 30px;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .feature__body {
    padding-top: 40px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .feature__body {
    padding-top: 50px;
  }
}

.feature-products-list {
  min-width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 600px) {
  .feature-products-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 150px;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .feature-products-list {
    min-width: 550px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .feature-products-list {
    min-width: 750px;
  }
}

.feature-products-list__item {
  font-size: 22px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
  opacity: 0.7;
  cursor: pointer;
}

.feature-products-list__item.active {
  color: #ff2d2d;
}

@media (max-width: 600px) {
  .feature-products-list__item {
    font-size: 20px;
    line-height: 32px;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .feature-products-list__item {
    font-size: 16px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .feature-products-list__item {
    font-size: 18px;
  }
}

.feature-products-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

@media (max-width: 600px) {
  .feature-products-images {
    margin: 0 10px;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .feature-products-images {
    margin: 0 10px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .feature-products-images {
    margin: 0 10px;
  }
}

.feature-products-images-list {
  margin-top: 66px;
  display: none;
  -ms-grid-columns: (minmax(280px, 280px))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(280px, 280px));
  grid-gap: 20px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feature-products-images-list:nth-child(even) > li {
  background-color: #706e65;
}

.feature-products-images-list.active {
  display: -ms-grid;
  display: grid;
}

@media (max-width: 600px) {
  .feature-products-images-list {
    margin-top: 30px;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .feature-products-images-list {
    margin-top: 40px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .feature-products-images-list {
    margin-top: 50px;
  }
}

.feature-products-images-list__item {
  min-width: 280px;
  min-height: 280px;
  background-color: #f5f0dd;
}

.section-team {
  background-color: #fff;
}

.team {
  padding-bottom: 110px;
}

.team__header {
  margin-left: 10px;
  margin-bottom: 69px;
}

.team__header::after {
  content: "";
  width: 132px;
  height: 3px;
  display: block;
  background-color: #ff2d2d;
}

.team__title {
  margin-bottom: 40px;
}

.team__header-text {
  max-width: 446px;
  margin-bottom: 33px;
  font-size: 16px;
  line-height: 28px;
  opacity: 0.7;
  color: #000000;
}

.team__body {
  margin: 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 600px) {
  .team__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.team-left-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 600px) {
  .team-left-column {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .team-left-column {
    margin-right: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .team-left-column {
    margin-right: 15px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .team-left-column {
    margin-right: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.team__img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 321px;
  min-height: 458px;
}

@media (max-width: 600px) {
  .team__img {
    max-width: 289px;
    min-height: 412px;
    margin-bottom: 15px;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .team__img {
    max-width: 256px;
    min-height: 366px;
  }
}

.team-right-column {
  -ms-flex-preferred-size: 68%;
      flex-basis: 68%;
}

@media (min-width: 600px) and (max-width: 768px) {
  .team-right-column {
    -ms-flex-preferred-size: 56%;
        flex-basis: 56%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .team-right-column {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .team-right-column {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
}

.team__name {
  margin-bottom: 35px;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  opacity: 0.8;
  color: #000000;
}

@media (max-width: 600px) {
  .team__name {
    margin-bottom: 20px;
  }
}

.team__description {
  margin-bottom: 44px;
  font-size: 16px;
  line-height: 28px;
  opacity: 0.7;
  color: #000000;
}

.team-links {
  max-width: 371px;
  margin-bottom: 67px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 600px) {
  .team-links {
    max-width: auto;
    margin-bottom: 30px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.team-links__item > a {
  text-decoration: none;
  font-size: 18px;
  font-style: italic;
  line-height: 24px;
  opacity: 0.8;
  color: #000000;
}

.team-list {
  max-width: 850px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 600px) {
  .team-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .team-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.team-list__item {
  position: relative;
  cursor: pointer;
}

.team-list__item > img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 197px;
  max-height: 214px;
}

@media (min-width: 600px) and (max-width: 768px) {
  .team-list__item > img {
    max-width: 167px;
    max-height: 182px;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .team-list__item:nth-child(odd) {
    margin-right: 10px;
  }
}

@media (max-width: 600px) {
  .team-list__item {
    margin: 0px 5px 10px 5px;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .team-list__item {
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .team-list__item {
    margin-bottom: 10px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .team-list__item {
    margin-bottom: 15px;
  }
}

.team-list__name {
  width: 100%;
  height: 37px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 3px;
}

.team-list__name > p {
  position: relative;
  z-index: 2;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

@media (max-width: 600px) {
  .team-list__name > p {
    font-size: 14px;
  }
}

.team-list__name::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  display: block;
  background-color: #000000;
  opacity: 0.5;
}

.section-subs {
  background-color: #f5f0dd;
}

.subs__body {
  padding: 140px 0px;
}

@media (max-width: 600px) {
  .subs__body {
    padding: 80px 0px;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .subs__body {
    padding: 100px 0px;
  }
}

.subs__title {
  margin-bottom: 31px;
  font-size: 42px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  opacity: 0.8;
  color: #000000;
}

@media (max-width: 600px) {
  .subs__title {
    font-size: 30px;
    line-height: 40px;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .subs__title {
    line-height: 50px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .subs__title {
    line-height: 50px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .subs__title {
    font-size: 34px;
  }
}

.subs__text {
  margin-bottom: 62px;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  opacity: 0.8;
  color: #000000;
}

@media (min-width: 768px) and (max-width: 992px) {
  .subs__text {
    font-size: 20px;
  }
}

.subs-form {
  max-width: 757px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 600px) {
  .subs-form {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .subs-form {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.subs-form__input {
  min-height: 79px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
}

.subs-form__input:first-child {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

@media (max-width: 600px) {
  .subs-form__input {
    padding-left: 15px;
    min-height: 50px;
    font-size: 14px;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .subs-form__input {
    min-height: 70px;
  }
}

@media (max-width: 600px) {
  .input-button {
    padding-left: 0px;
  }
}

.section-message {
  overflow: hidden;
  background-color: #fff;
}

.message {
  padding: 106px 0px;
}

.message__header {
  margin-left: 10px;
  margin-bottom: 69px;
}

.message__header::after {
  content: "";
  width: 132px;
  height: 3px;
  display: block;
  background-color: #ff2d2d;
}

@media (max-width: 600px) {
  .message__header {
    margin-bottom: 30px;
  }
}

.message__title {
  margin-bottom: 40px;
}

.message__header-text {
  max-width: 720px;
  margin-bottom: 33px;
  font-size: 16px;
  line-height: 28px;
  opacity: 0.7;
  color: #000000;
}

.message__body {
  margin-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 600px) {
  .message__body {
    margin: 0px 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .message__body {
    margin: 0px 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .message__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.message-left-column {
  -ms-flex-preferred-size: 56%;
      flex-basis: 56%;
}

@media (max-width: 600px) {
  .message-left-column {
    margin-bottom: 40px;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .message-left-column {
    margin-bottom: 40px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .message-left-column {
    margin-bottom: 40px;
  }
}

.message-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.message-form .input {
  border-radius: 10px;
}

.message-form .input-button {
  border-radius: 6px;
}

.message-form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.message-form-row > .input {
  -ms-flex-preferred-size: 46%;
      flex-basis: 46%;
}

@media (max-width: 600px) {
  .message-form-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.message-form__input {
  min-height: 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.message-form__input:not(.input-button) {
  margin-bottom: 46px;
  background-color: #e5e5e5;
}

@media (max-width: 600px) {
  .message-form__input:not(.input-button) {
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
  .message-form__input {
    min-height: 60px;
    font-size: 14px;
    padding: 0px 20px;
  }
}

.message-form__input-textarea {
  padding: 35px 36px;
  resize: none;
}

@media (max-width: 600px) {
  .message-form__input-textarea {
    padding: 20px;
  }
}

.message-right-column {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
}

.message-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  min-height: 100%;
}

.message-contact::after {
  content: "";
  min-width: 100vw;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2d2d2d;
}

@media (max-width: 600px) {
  .message-contact {
    padding: 20px 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border-radius: 10px;
  }
  .message-contact::after {
    content: "";
    min-width: 100%;
    min-height: 100%;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2d2d2d;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .message-contact {
    padding: 20px 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .message-contact::after {
    content: "";
    min-width: 100%;
    min-height: 100%;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2d2d2d;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .message-contact {
    padding: 20px 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .message-contact::after {
    content: "";
    min-width: 100%;
    min-height: 100%;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2d2d2d;
  }
}

.message-contact__body {
  max-width: 300px;
  padding-left: 80px;
  position: relative;
  z-index: 2;
}

@media (max-width: 600px) {
  .message-contact__body {
    padding-left: 0px;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .message-contact__body {
    padding-left: 0px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .message-contact__body {
    padding-left: 0px;
  }
}

.message-contact__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 34.06px;
  text-transform: uppercase;
  opacity: 0.8;
  color: #ffffff;
}

@media (max-width: 600px) {
  .message-contact__title {
    text-align: center;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .message-contact__title {
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .message-contact__title {
    text-align: center;
  }
}

.message-contact__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.8;
  color: #ffffff;
}

.message-contact__text > span {
  margin-top: 30px;
  display: block;
}

.message-contact__text a {
  color: #ffffff;
  text-decoration: none;
}

@media (max-width: 600px) {
  .message-contact__text {
    text-align: center;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .message-contact__text {
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .message-contact__text {
    text-align: center;
  }
}

.section-footer {
  background-color: #313030;
}

.footer {
  min-height: 111px;
  margin: 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 600px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.footer__copy {
  font-size: 16px;
  line-height: 26px;
  color: #b8b8b8;
}

@media (max-width: 600px) {
  .footer__copy {
    font-size: 12px;
  }
}

.footer-socials {
  min-width: 185px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 600px) {
  .footer-socials {
    min-width: 240px;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .footer-socials {
    min-width: 280px;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .footer-social__item img {
    min-height: 35px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  #header-burger {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  #header-burger {
    display: none;
  }
}

@media (min-width: 1200px) {
  #header-burger {
    display: none;
  }
}
