// * Imports *

@import "_header-burger.scss";

// * Connected fonts *

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap");

// * Variables *

$container-size: 1250px;

$md1: 600px;
$md2: 768px; // Tablets and mobile
$md3: 992px;
$md4: 1200px;

$headerColor: #313030;

// * Default font *

body {
   font-family: "Open Sans", sans-serif;
   @media (max-width: $md1) {
      background-color: #1d1d1d;
   }

   //mobile
   @media (min-width: $md1) and (max-width: $md2) {
      background-color: #524747;
   }

   // tablets
   @media (min-width: $md2) and (max-width: $md3) {
      background-color: #838383;
   }

   // laptops, pc
   @media (min-width: $md3) and (max-width: $md4) {
      background-color: #e0e0e0;
   }
}

// * Container *

.container {
   width: 100%;
   max-width: $container-size;
   margin: 0px auto;

   // tablets
   @media (min-width: $md2) and (max-width: $md3) {
      max-width: $container-size * 0.6;
   }

   // laptops, pc
   @media (min-width: $md3) and (max-width: $md4) {
      max-width: $container-size * 0.8;
   }
}

// * Common styles

.section {
}
.button {
   width: 223px;
   height: 51px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 18px;
   font-weight: 700;
   line-height: 34.06px;
   letter-spacing: 0.32px;
   text-decoration: none;
   border: #ff2d2d solid 2px;
   border-radius: 5px;
   color: #ffffff;
   background-color: #ff2d2d;
   transition: all 0.1s ease;
   &:hover {
      border: #d42525 solid 2px;
      background-color: #d42525;
   }
   &:active {
      border: #6e1515 solid 2px;
      background-color: #6e1515;
   }
   &-white {
      color: #ff2d2d;
      background-color: rgba($color: #000000, $alpha: 0);
   }
   &-white:hover {
      color: #fff;
      background-color: #d42525;
   }
   &-white:active {
      color: #fff;
      border: #6e1515 solid 2px;
      background-color: #6e1515;
   }
}

.title {
   opacity: 0.8;
   color: #000000;
   font-size: 42px;
   font-weight: 700;
   line-height: 55px;
   text-transform: uppercase;
   letter-spacing: 0.42px;
}

.wrapper {
   padding-top: 30px;
   @media (max-width: $md1) {
      padding-top: 0px;
   }

   //mobile
   @media (min-width: $md1) and (max-width: $md2) {
      padding-top: 0px;
   }
}

// * -----------------------------------Code-----------------------------------------

@import "_header.scss";

#header-burger {
   margin-left: 20px;
}

// * -------------------------------Section-1-Present-------------------------------

@import "_present.scss";

// * -------------------------------Section-2-Provide-------------------------------

@import "_provide.scss";

// * -------------------------------Section-3-Features-------------------------------

@import "_feature.scss";

// * ========================== BREAKPOINTS ============================ *

// ------------------ mobile -------------------
@media (max-width: $md1) {
}

@media (min-width: $md1) and (max-width: $md2) {
}
// ---------------------------------------------

// tablets
@media (min-width: $md2) and (max-width: $md3) {
   #header-burger {
      display: none;
   }
}

// laptops, pc
@media (min-width: $md3) and (max-width: $md4) {
   #header-burger {
      display: none;
   }
}

@media (min-width: $md4) {
   #header-burger {
      display: none;
   }
}

// ------------------ mobile -------------------
@media (max-width: $md1) {
}

@media (min-width: $md1) and (max-width: $md2) {
}
// ---------------------------------------------

// tablets
@media (min-width: $md2) and (max-width: $md3) {
}

// laptops, pc
@media (min-width: $md3) and (max-width: $md4) {
}

@media (min-width: $md4) {
}
